.cart__item-info{
    display: flex;
    gap: 1rem;
}
.cart__item-info img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.cart__product-info{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}
.info-h6-p h6{
    font-size: 0.8rem;
    font-weight: 600;
}
.info-h6-p p{
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 0.8rem;
}
.info-h6-p p span{
    font-size: 0.9rem;
    font-weight: 600;
    color: red;
}
.increase__decrease-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.increase__decrease-btn{
    background-color: #fde4e4;
    padding: 2px 5px;
    border-radius: 5px;
}
.increase__btn, .decrease__btn{
    cursor: pointer;
}
.delete__btn{
    font-size: 1.1rem;
    font-weight: 600;
}
.cart__item{
    padding-bottom: 10px;
    border-bottom: 1px solid #fde4e4;
}