
.col-af-1-3{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 1rem;
}
.col-af-1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

}
.search__widget input{
    border: none;
}
.search__widget input:focus{
    outline: none;
}
.search__widget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #fde4e4;


}
.sorting__widget{
    width: 30%;

}
.sorting__widget select {
    padding: 7px 15px;
    border: 1px solid #fde4e4;
    border-radius: 5px;
    font-size: 1rem;
    color: #212245;
    cursor: pointer;
}


.mt-3{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.paginationBttns{

    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;

}
.paginationBttns a{
    padding: 13px;
    background-color: red;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}