.form__login{
    width: 30%;
    margin: auto;
    background-color: #fde4e4;
    padding: 20px;

}

.form__group-1 input{
    width: 100%;
    background-color: transparent;
    padding: 4px 0;
    border: none;
    border-bottom: 1px solid #212245;
 }
.form__group-1{
    margin-bottom: 30px;
}
.form__group-1 input:focus{
    outline: none;
}
.row-login-1{
    margin: 2rem 0;
}

.register__page{
    text-decoration: none;
    color: #212245;
    margin-left: 31rem;

}
.below{
    margin-top: 2rem;
}